<%- include('../partials/header') %>
    <h1><%=title%></h1>
    <p>I love playing co-op games, one of which is R.E.P.O.</p>
    <p>REPO is a co-op game where you and your group have to find valuables items within a location and try to extract the money while dodging enemies or even killing them for more money.</p>
    <p><img src="/public/images/repo.jpg"></p>
    <p>Some other games are the Monster Hunter series, as I am about to finish up Monster Hunter: World, and then start Monster Hunter: Rise.</p>
<%- include('../partials/footer') %>