<%- include('../partials/header') %>
    <h1><%=title%></h1>
    <p>I want to go to Japan, and I am trying to go this Summer.</p>
    <p><img src="/public/images/japan.jpg"></p>
    <p>Some other places I want to travel to would be South Korea, Singapore, and Canada.</p>
<%- include('../partials/footer') %>