<%- include('../partials/header') %>
    <h1><%=title%></h1>
    <p>My name is David Hoang and I am an aspiring software engineer, trying to go into data science.</p>
    <p>I love co-op games with my friends and I've tried slowly getting back into single player games.</p>
    <p>I have recently started playing pickle ball with my friends and I find it fun to play.</p>
    <p><img src="/public/images/pickleball.jpg"></p>
<%- include('../partials/footer') %>